:root {
  --h1: 70px;
  --black: #222;
  --lime: #cdebdb;
  --white: #ffffff;
}

* {
  margin: 0;
  color: var(--black);
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: var(--lime);
}

.h1 {
  font-size: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0px;
  font-family: "Oswald", sans-serif;
}

.bg-white {
  background-color: var(--white);
}

.border-bottom-dashed {
  border-bottom-style: dashed;
}

.pointer {
  cursor: pointer;
}

li :hover {
  font-weight: bolder;
}
